form.form-horizontal(method='post' enctype='multipart/form-data' action='/upload')
  .form-group
    .col-sm-4
      input.form-control(type='file' name='uploadFile')
  .form-group
    .col-sm-4
      input.btn.btn-primary(type='submit' value='Upload')